SECRET_KEY=your-secret-key-here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
STEADFAST_EMAIL=your-email@example.com
STEADFAST_PASSWORD=your-password
PATHAO_EMAIL=your-email@example.com
PATHAO_PASSWORD=your-password
